body {
    background-color: #F0F3F5;
    font-family: '源ノ角ゴシック JP';
    margin: auto;
}

#main-contents {
    display: grid;
    grid-template-columns: 150px 905px 325px;
    margin-bottom: 100px;
}

#job-img {
    width: 780px;
}

#detail {
    margin-left: 150px;
}

#detail div {
    margin-bottom: 30px;
}

#job {
    text-align: left;
    width: 1000px;
    background-color: white;
}

#contact-form {
    width: 300px;
    background-color: white;
    text-align: center;
    position: fixed;
    right: 0;
    top: 60px;
}

#contact-form div{
    margin-top: 22px;
    margin-bottom: 22px;
}

#contact-form button {
    width: 120px;
    height: 40px;
    background-color: #004BB1;
    border-radius: 4px;
    color: white;
}

#button-group {
    display: flex;
    text-align: center;
}

#button-group #edit-button, #delete-button {
    width: 80px;
    height: 40px;
    background-color: #004BB1;
    border-radius: 4px;
    color: white;
    margin-right: 40px;
}

